<template name="ohifViewer">
    <div class="topBar noselect {{#if onStudyList}}studyList{{/if}}">
        <div class="clearfix p-x-1 p-t-1">
            <a target='_blank'
               class="brandSection pull-left"
               href="#">
                <img class="logoImage" src="https://nus1-api.asm.skype.com/v1/objects/0-cus-d2-d09c3ad531a3b34132a5963430a8f384/views/imgpsh_fullsize" />
                <div class="logoText">
                    Celerity Viewer
                </div>
            </a>
            {{ #if studyListToggleText }}
            <a class="btn studyListLinkSection pull-left m-x-1 p-x-2 p-y-0 js-toggle-studyList">
                {{studyListToggleText}}
            </a>
            {{ /if }}
            <a class="btn pull-right p-y-0"
               data-toggle="modal"
               data-target="#aboutModal">
                About
            </a>
        </div>
    </div>
    {{> worklist }}
    {{> aboutModal }}
    {{> viewSeriesDetailsModal }}
</template>
